# Notion Configuration
NOTION_TOKEN=your_notion_integration_token_here

# Server Configuration
FLASK_PORT=5000
FLASK_ENV=development

# TesteoLab Configuration
FRONT_LANGUAGE=es
CREATIVES_LANGUAGE=es
